<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Exam Result Pages</title>
</head>
<body>
	<div align="right">
		<span th:text="${session.user.name}">BARBARA</span>
		<span th:text="${session.user.surname}">LISKOV</span>
		<span th:text="${session.user.matricola}">-----</span>
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="right">
		<span th:text="${session.user.role}">Student</span>
	</div>
	<hr>
	<p>
		Course Id: <span th:text="${courseId}">1</span><br>
		Exam date: <span th:text="${examDate}">2023-01-01</span>
	</p>
	<div th:if="${examStudent.resultState == 'PUBBLICATO' || examStudent.resultState == 'RIFIUTATO' 
					|| examStudent.resultState == 'VERBALIZZATO'}">
	<fieldset>
	<!-- ricorda di non aver inserito il nome del corso -->
	<p>
	Matricola: <span th:text="${session.user.matricola}">123456</span>
	</p>
	<p>
	Nome: <span th:text="${examStudent.name}">BARBARA</span>
	</p>
	<p>
	Cognome: <span th:text="${examStudent.surname}">LISKOV</span>
	</p>
	<p>
	Degree: <span th:text="${examStudent.degree}">Computer Engineering</span>
	</p>
	<p>
	Email: <span th:text="${examStudent.email}">Computer Engineering</span>
	</p>
	<p>
	Result: <span th:text="${examStudent.result}">20</span>
	</p>
	<p>
	ResultState: <span th:text="${examStudent.resultState}">PUBBLICATO</span>
	</p>
	</fieldset>
	
	<br>
	
	<div th:if="${examStudent.resultState == 'PUBBLICATO' && examStudent.result != 'RIMANDATO'}" align="center">
	<form th:action="@{/RefuseMark}" method="POST">
	<input type="hidden" name="courseId" th:value="${courseId}">
	<input type="hidden" name="examDate" th:value="${examDate}">
	<input type="submit" name="submit" value="Refuse mark">
	</form>
	</div>
	
	<div th:if="${examStudent.resultState == 'RIFIUTATO' && examStudent.result == 'RIMANDATO'}" align="center">
	Il voto e' stato rifiutato
	</div>
	
	
	</div>

	
	<div th:if="${examStudent.resultState == 'NON INSERITO' or examStudent.resultState == 'INSERITO'}"  align="center" >
	<hr>
		Voto non ancora definito
	</div>
	
</body>
</html>