<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Teacher Home Page</title>
</head>
<body>
	<div align="right">
		<span th:text="${session.user.name}">MARISSA</span>
		<span th:text="${session.user.surname}">MAYER</span>
		<span th:text="${session.user.matricola}">-----</span>
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="right">
		<span th:text="${session.user.role}">Student</span>
	</div>
	<hr>
	<div align="left">
		<h1>Polimi servizi online</h1>
	</div>
	<p>
		Select a course and choose an exam date
	</p>
	<table>
		<tr>
			<td>
				<table border="1">
					<thead>
						<tr>
							<th>Course ID</th>
							<th>Course Name</th>
						</tr>
					</thead>
					<tbody>
					<tr th:each="c : ${courses}">
							<td th:text="${c.courseId}"></td>
							<td><a href="TeacherHomePage.html"
								th:href="@{/GoToHomeTeacher(courseId=${c.courseId})}"><span
									th:text="${c.courseName}"></span></a></td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<div th:if="${courseId==0}">
					Please select a course
				</div>
				<div th:if="${#lists.isEmpty(exams) and courseId != 0}">
					No exam date for course number <span th:text="${courseId}"></span>
				</div>
				<div th:if="${not #lists.isEmpty(exams)}">
					<form th:action="@{/GoToModifyPage}" method="POST">
						Choose an exam date for course number <span th:text="${courseId}"></span>:
						<br> 
						<select name="examDate">
							<option th:each="e : ${exams}" th:value="${e.date}"
								th:text="${e.date}">xxx</option>
						</select> 
						<hr>
						<input type="submit" name="submit" value="View students">
					</form>
				</div>
			</td>
		</tr>
	</table>
	
</body>
</html>
