@charset "UTF-8";
.current {background-color: #ffa6a6;}
.noninserito {background-color: #e2e2e2;}
.inserito {background-color: #ffffb5;}
.pubblicato {background-color: #b9fbbb;}
.verbalizzato {background-color: #13ff4f;}